<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--The service name which indicate an service -->
    <add key="ServiceName" value="ZookeeperService1"/>
    <add key="ServiceDesc" value="ZookeeperService1"/>
    <add key="ServiceDisplayName" value="ZookeeperService1"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
